version: '3'
services:
  {{ prometheus_name }}:
    image: {{ prometheus_image_name }}:{{ prometheus_image_version }}
    container_name: {{ prometheus_name }}
    hostname: {{ prometheus_fqdn }}
    networks:
      - {{ traefik_network_name }}
    restart: unless-stopped
    volumes:
      - "{{ prometheus_volume_path }}:/etc/prometheus"
    labels:
      - "traefik.http.routers.{{ prometheus_name }}-http.entrypoints={{ traefik_http_name }}"
      - "traefik.http.routers.{{ prometheus_name }}-http.rule=Host(`{{ prometheus_fqdn }}`)"
      - "traefik.http.routers.{{ prometheus_name }}-https.entrypoints={{ traefik_https_name }}"
      - "traefik.http.routers.{{ prometheus_name }}-https.rule=Host(`{{ prometheus_fqdn }}`)"
      - "traefik.http.services.{{ prometheus_name }}-https.loadBalancer.server.port={{ prometheus_ui_port }}"
      - "traefik.http.services.{{ prometheus_name }}-https.loadBalancer.server.scheme=http"
networks:
  {{ traefik_network_name }}:
    external: true