[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ prometheus_username }}
Group={{ prometheus_username }}
Type=simple
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=multi-user.target